@using PetShop.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column gap-1">

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) py-3 rounded-3 fw-bold" id="profile" asp-page="./Index">
            <i class="fa-solid fa-id-card me-2" style="width: 20px; text-align: center;"></i> Profil
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) py-3 rounded-3 fw-bold" id="email" asp-page="./Email">
            <i class="fa-solid fa-envelope me-2" style="width: 20px; text-align: center;"></i> Email
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) py-3 rounded-3 fw-bold" id="change-password" asp-page="./ChangePassword">
            <i class="fa-solid fa-lock me-2" style="width: 20px; text-align: center;"></i> Parolă
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link py-3 rounded-3 fw-bold text-dark" asp-controller="HistoryOrders" asp-action="Index">
            <i class="fa-solid fa-clock-rotate-left me-2" style="width: 20px; text-align: center;"></i> Istoric Comenzi
        </a>
    </li>

    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) py-3 rounded-3 fw-bold" asp-page="./ExternalLogins">
                <i class="fa-solid fa-share-nodes me-2" style="width: 20px; text-align: center;"></i> Login Extern
            </a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) py-3 rounded-3 fw-bold" id="personal-data" asp-page="./PersonalData">
            <i class="fa-solid fa-user-shield me-2" style="width: 20px; text-align: center;"></i> Date Personale
        </a>
    </li>
</ul>